.cartItem{
    width: 50vw;
    height: 56vh;
    position: relative;
    top: 50%;
    right: 99%;
    overflow: scroll;
    border-radius: 1rem;
   

}

/* .cartHeader{
    display: block !important;
    width: 100% !important;
} */
