.cart{
    position: absolute;
    left: 93%;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.img{
    width: 2.5rem;
   
}

.cart:hover{
    background-color: rgb(173, 234, 236) !important;
    transition: 0.5s;
}