.countInput{
   width: 2rem;
   border-radius: 5px;
    
}
.no-spinners::-webkit-inner-spin-button,
.no-spinners::-webkit-outer-spin-button {
  -webkit-appearance: none;

}
.myBtn{
    border: 2px solid rgb(255, 255, 255);
    height:2rem;
    background-color: black;
    color: white;
  
}
.mySpan{
    margin-right: -5rem ;
}
